#pc-wrap {
	.home-page {
		.feature-icons {
			position: relative;
			width: 100%;
			background-color: #f9f9f9;
			padding-top: 80px;
			padding-bottom: 80px;

			.feature-icons__item {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.feature-icons__icon {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 20px;

				svg {
					font-size: 48px;
					color: #1646C1;
				}
			}

			.feature-icons__title {
				font-weight: 600;
				margin-bottom: 12px;
				text-align: center;
				font-size: 20px;
			}

			.feature-icons__description {
				text-align: center;
				color: #616161;
				font-size: 14px;
				line-height: 1.6;
			}
		}
	}
}

