@import '../variables.scss';

#mobile-wrap {
	.home-page {
		.hero-section {
			position: relative;
			width: 100%;
			background-color: #132742;
			padding-top: 220px;
			padding-bottom: 120px;

			.hero-bg {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-repeat: no-repeat;
				background-size: cover;
				opacity: 0.3;
			}

			.container {
				position: relative;
				z-index: 10;
				text-align: center;
			}

			.hero-title {
				margin: 0;
				color: #fff;
				font-weight: 600;
				font-size: 30px;
				margin-top: -10px;
				margin-bottom: -10px;
			}

			.hero-subtitle {
				color: #fff;
				font-family: $font;
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
}

